In [2]:
# Data analysis libraries
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim

# import mplcursors # Use this is for creating a cursor-interactive plot with "%matplotlib notebook"

from sklearn.decomposition import NMF # Use this for training Non-negative Matrix Factorization
from sklearn.utils.extmath import randomized_svd # Use this for training Singular Value Decomposition
from sklearn.manifold import TSNE # Use this for training t-sne manifolding
from sklearn.model_selection import train_test_split
#### 원핫 인코딩
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import mean_squared_error


from itertools import permutations # For making pairs

plt.style.use('ggplot') # You can also use different style

# just for plot checking, use this option
# %matplotlib inline

# for interactive plot
# If you use this option, plot will appear at first-drawn position
%matplotlib notebook

warnings.filterwarnings('ignore')

In [179]:
# Load flat file (Kaggle)
df_reviews_raw = pd.read_csv('beer_reviews.csv')

# Best Practice: Make a copy of the raw data to work on
df_reviews = df_reviews_raw.copy()

# Peep it
df_reviews.head()

# reviews = reviews.drop(["review_time", "brewery_name", "beer_name"], axis=1)
df_reviews = df_reviews.drop(["brewery_name"], axis=1) # timestamp 살려두기
#reviews_features = df_reviews.copy()

# Peep it
df_reviews.head()

,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [5]:
df_reviews_raw.head(5)

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [6]:
# Convert 'object' to 'category' 
df_reviews[df_reviews.select_dtypes(['object']).columns] = df_reviews.select_dtypes(['object']).\
                                                         apply(lambda x: x.astype('category'))
# Examine structure 
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1586614 non-null  int64
 1   review_time         1586614 non-null  int64
 2   review_overall      1586614 non-null  float64
 3   review_aroma        1586614 non-null  float64
 4   review_appearance   1586614 non-null  float64
 5   review_profilename  1586266 non-null  category
 6   beer_style          1586614 non-null  category
 7   review_palate       1586614 non-null  float64
 8   review_taste        1586614 non-null  float64
 9   beer_abv            1518829 non-null  float64
 10  beer_beerid         1586614 non-null  int64
dtypes: category(2), float64(6), int64(3)
memory usage: 117.8 MB

In [7]:
# Check for null values
#print(df_reviews.isnull().sum())

# Percent of data missing `beer_abv` values
print("Percent Null Values of `beer_abv` column:", round(67785 / 1586614 * 100, 2),"%")

# Drop null row values
df_reviews = df_reviews.dropna()
#df_reviews.info()

# Check for null values
#print(df_reviews.isnull().sum())

# Percent of data that are null
print("Percent of Null Values:", round((1586614 - 1518478)/ 1586614 * 100, 2),"%")

Percent Null Values of `beer_abv` column: 4.27 %
Percent of Null Values: 4.29 %

In [8]:
# Sort by user overall rating first
df_reviews = df_reviews.sort_values('review_overall', ascending=False)

# Peep it
df_reviews.head()

# Keep the highest rating from each user and drop the rest 
df_reviews = df_reviews.drop_duplicates(subset= ['review_profilename','beer_beerid'], keep='first')

# Peep structure
#df_reviews.info()

# Percent of data that are duplicates
print("Percent of Duplicate Values:", round((1518478 - 1504037)/ 1518478 * 100, 2),"%")

Percent of Duplicate Values: 0.95 %

In [9]:
# Histogram of all numeric features
#reviews.hist(figsize=(12,12))
#plt.show()

# Sort by user overall rating first
df_reviews = df_reviews.sort_values('review_overall', ascending=True)

# Peep it
print(1504052 - 1504045, "개의 데이터에 문제 발생")
df_reviews[(df_reviews['review_overall'] < 1) | (df_reviews['review_appearance'] < 1)]


# Review scores of >= 1 : 문제 데이터 제거
df_reviews = df_reviews[(df_reviews['review_overall'] >= 1)]
#df_reviews = df_reviews[(df_reviews['review_appearance'] >= 1)]
# Peep it
df_reviews.head(8)

7 개의 데이터에 문제 발생

,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_abv,beer_beerid
1074603,677,1223493846,1.0,1.0,3.0,Marcus6679,Chile Beer,1.0,1.0,4.2,38763
1074607,677,1214606400,1.0,2.5,4.0,mikedgt,Chile Beer,3.0,1.5,4.2,38763
1074612,677,1178150667,1.0,1.0,1.0,zeff80,Chile Beer,1.0,1.0,4.2,2213
1074616,677,1206162572,1.0,1.0,2.5,ChainGangGuy,Chile Beer,2.0,1.0,4.2,38763
1074617,677,1204878541,1.0,2.0,2.0,mattster,Chile Beer,1.0,1.5,4.2,38763
1074620,677,1325988783,1.0,1.0,2.5,B967ierhunter177,Chile Beer,1.0,1.0,4.2,38763
534388,401,1123591124,1.0,1.5,2.0,Vancer,Euro Strong Lager,1.5,1.5,8.0,1967
1074630,677,1317421512,1.0,1.0,1.5,scottfrie,Chile Beer,1.0,1.0,4.2,38763

In [10]:
# Create Pandas DF of ratings by user and item
df_ratings = df_reviews[['review_profilename', 'beer_beerid', 'review_overall']]

# Rename columns
df_ratings = df_ratings.rename(columns = {'review_profilename':'userNm', 
                                    'review_overall':'rating',
                                    'beer_beerid' : 'beerId' })
df_ratings['reviewIdx'] = df_ratings.index


df_ratings.head()

# 고유 사용자, 고유 맥주 갯수 확인
n_users = len(df_ratings['userNm'].unique())
n_beers = len(df_ratings['beerId'].unique())

n_users, n_beers # (32908, 49011)

# df_ratings 기술통계량 확인
df_ratings['rating'].describe()
df_ratings.sort_values(by="beerId", ascending=True).head()

            userNm  beerId  rating  reviewIdx
393323    portia99       5     3.5     393323
393331       NODAK       5     4.0     393331
393594     Mustard       5     3.0     393594
393593     clvand0       5     3.0     393593
393406  everetends       5     4.0     393406

In [11]:
df_users = df_ratings.groupby('userNm').size().reset_index()
df_users.columns = ["userNm", "review_num"]

# 임의로(스펠링 순으로) 유저번호 붙이기
df_users['userIdx'] = df_users.index

print(df_users.head())

df_users = df_users.sort_values(by="review_num", ascending=False)

df_users['review_num'] = pd.to_numeric(df_users['review_num'])
df_users.head(1000) #479명의 리뷰 데이터가 없음

#df_users_500 = df_users[df_users["review_num"] >= 500]
#df_users_500# 리뷰를 500개 이상 작성한 654명의 유저만 사용

        userNm  review_num  userIdx
0     0110x011         137        0
1     01Ryan10           1        1
2     02maxima           4        2
3   03SVTCobra           3        3
4  04101Brewer           3        4

               userNm  review_num  userIdx
26927  northyorksammy        5311    26927
2351    BuckeyeNation        4240     2351
25703     mikesgroove        4226    25703
12378       Thorpe429        3272    12378
32912   womencantsail        3155    32912
...               ...         ...      ...
17357          cnally         363    17357
32708  whartontallboy         363    32708
8564            Morey         363     8564
23068       jondeelee         363    23068
15214        berley31         362    15214

[1000 rows x 3 columns]

In [12]:
df_ratings_500 = df_ratings.merge(df_users, left_on = 'userNm', right_on = 'userNm', how = 'left')

df_ratings_500.sort_values(by="userIdx", ascending=True)

           userNm  beerId  rating  reviewIdx  review_num  userIdx
1459651  0110x011    7971     5.0    1134674         137        0
1465395  0110x011    2749     5.0    1088528         137        0
339278   0110x011   50331     3.5     224287         137        0
632169   0110x011   47922     4.0     132361         137        0
1407299  0110x011   35328     4.5    1520604         137        0
...           ...     ...     ...        ...         ...      ...
787326     zyzygy   28687     4.0     873579           5    33385
1293111    zyzygy     273     4.5     173551           5    33385
975916     zyzygy    1112     4.0     566468           5    33385
1146649    zyzygy     141     4.5     773245           5    33385
1437651  zzajjber    2270     5.0    1373610           1    33386

[1504045 rows x 6 columns]

In [190]:
df_beers = df_ratings.groupby('beerId').size().reset_index()
df_beers.columns = ["beerId", "br_review_num"]
df_beers['br_review_num'] = pd.to_numeric(df_beers['br_review_num'])

#one_hot_movie = df_beers.copy()
# 임의로(스펠링 순으로) 유저번호 붙이기
#df_beers['userIdx'] = df_users.index

#print(df_beers.head())

df_beers = df_beers.sort_values(by="br_review_num", ascending=False)

df_beers.head() #479명의 리뷰 데이터가 없음

df_ratings_500 = df_ratings_500.merge(df_beers, left_on = 'beerId', right_on = 'beerId', how = 'left')
df_ratings_500.sort_values(by="beerId", ascending=True)
# df_ratings_500 = df_ratings_500[df_ratings_500["br_review_num"] >= 500]
# df_ratings_500# 리뷰를 500개 이상 작성한 654명의 유저만 사용

,userNm,beerId,rating,reviewIdx,review_num,userIdx,br_review_num_x,br_review_num_y,br_review_num_x,br_review_num_y
3352,jdhilt,6,3.5,391449,2226,22344,871,871,871,871
802,rhoadsrage,6,3.0,391215,2008,28608,871,871,871,871
5593,weeare138,6,4.0,390734,2191,32625,871,871,871,871
892,BuckeyeNation,6,3.0,391291,4240,2351,871,871,871,871
6344,russpowell,6,4.0,391178,2450,29039,871,871,871,871
...,...,...,...,...,...,...,...,...,...,...
2847,smcolw,72138,3.5,889629,2038,30131,645,645,645,645
2848,WVbeergeek,72138,3.5,889494,2325,13002,645,645,645,645
2849,Thorpe429,72138,3.5,889727,3272,12378,645,645,645,645
18120,zeff80,72138,4.5,889782,2412,33297,645,645,645,645
9847,emerge077,72138,4.0,889865,2035,19515,645,645,645,645

In [14]:
df_ratings_500 = df_ratings_500[df_ratings_500["review_num"]>2000]
df_ratings_500 = df_ratings_500[df_ratings_500["br_review_num"]>500]

In [15]:
beer_user_rating = df_ratings_500.pivot_table('rating', index='beerId',
                                         columns='userIdx').fillna(0)
beer_user_rating

userIdx,934,1751,1786,2351,2757,3965,4990,5348,5382,5455,...,27053,28028,28608,29039,30131,31193,32625,32864,32912,33297
beerId,,,,,,,,,,,,,,,,,,,,,
6,3.0,3.0,3.5,3.0,4.0,0.0,2.5,3.5,3.5,4.0,...,3.5,4.0,3.0,4.0,3.5,3.0,4.0,0.0,0.0,3.0
7,3.5,0.0,4.0,3.5,3.0,0.0,0.0,0.0,3.5,4.0,...,3.0,3.0,0.0,3.5,0.0,2.5,3.5,0.0,0.0,2.0
10,4.5,3.5,4.0,4.5,3.5,4.0,0.0,3.0,4.5,3.5,...,4.0,4.0,3.5,3.5,4.0,4.5,4.0,0.0,2.5,0.0
17,4.0,3.0,4.0,3.5,3.5,0.0,0.0,3.5,4.0,4.0,...,0.0,0.0,0.0,0.0,4.0,0.0,3.0,0.0,0.0,4.0
19,4.0,4.5,3.5,4.5,3.5,3.5,0.0,4.0,4.0,0.0,...,4.0,0.0,0.0,3.5,0.0,4.0,4.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59151,4.5,0.0,4.0,0.0,0.0,0.0,4.0,0.0,0.0,3.0,...,4.0,0.0,4.0,4.0,0.0,0.0,4.0,0.0,3.0,4.0
59369,4.0,0.0,4.5,4.0,3.5,3.5,3.0,4.0,0.0,3.0,...,4.0,0.0,4.5,0.0,4.0,0.0,0.0,0.0,3.5,3.5
60420,4.0,0.0,4.0,4.0,4.5,3.5,4.5,3.5,0.0,3.5,...,4.5,0.0,4.0,4.5,4.0,4.5,3.5,0.0,2.5,4.5
62645,4.5,0.0,4.5,4.5,3.0,4.0,4.0,3.5,0.0,5.0,...,4.0,2.0,3.5,0.0,4.5,4.5,4.0,0.0,4.0,0.0
72138,4.0,0.0,4.5,0.0,0.0,4.0,4.0,0.0,0.0,4.0,...,4.5,4.0,4.0,4.5,3.5,0.0,0.0,0.0,3.5,4.5

In [16]:
item_sim = cosine_similarity(beer_user_rating)
print(item_sim)

[[1.         0.85454921 0.87790756 ... 0.78199402 0.80310466 0.76043784]
 [0.85454921 1.         0.76844153 ... 0.67784426 0.66529162 0.60104635]
 [0.87790756 0.76844153 1.         ... 0.7459112  0.782199   0.70316605]
 ...
 [0.78199402 0.67784426 0.7459112  ... 1.         0.83833398 0.71534825]
 [0.80310466 0.66529162 0.782199   ... 0.83833398 1.         0.7330356 ]
 [0.76043784 0.60104635 0.70316605 ... 0.71534825 0.7330356  1.        ]]

In [17]:
item_based_col = pd.DataFrame(data = item_sim, index = beer_user_rating.index, columns = beer_user_rating.index)

In [18]:
item_based_col.head()

beerId,6,7,10,17,19,30,31,33,34,36,...,56761,56973,57252,57908,57912,59151,59369,60420,62645,72138
beerId,,,,,,,,,,,,,,,,,,,,,
6,1.000000,0.854549,0.877908,0.821035,0.771010,0.923710,0.886294,0.915085,0.900475,0.773028,...,0.833361,0.848296,0.817341,0.706598,0.767072,0.730080,0.798770,0.781994,0.803105,0.760438
7,0.854549,1.000000,0.768442,0.738395,0.781007,0.782150,0.764632,0.771594,0.743312,0.707741,...,0.679122,0.727503,0.661734,0.585129,0.622350,0.677948,0.625937,0.677844,0.665292,0.601046
10,0.877908,0.768442,1.000000,0.770553,0.796683,0.918477,0.894455,0.918191,0.901986,0.834339,...,0.837393,0.876436,0.800088,0.677053,0.700077,0.702430,0.779417,0.745911,0.782199,0.703166
17,0.821035,0.738395,0.770553,1.000000,0.725627,0.801618,0.756935,0.813279,0.785496,0.677395,...,0.624617,0.783955,0.652406,0.592783,0.626601,0.578724,0.686879,0.622824,0.681224,0.599936
19,0.771010,0.781007,0.796683,0.725627,1.000000,0.758844,0.720489,0.734357,0.727062,0.760267,...,0.693517,0.735414,0.643124,0.618981,0.647117,0.696087,0.621594,0.670626,0.652824,0.510465

In [19]:
item_based_col.shape

(584, 584)

In [20]:
item_based_col[6].sort_values(ascending=False)[:5]

beerId
6       1.000000
2264    0.938224
1658    0.933665
779     0.927475
101     0.926742
Name: 6, dtype: float64

In [21]:
item_based_col[33].sort_values(ascending=False)[:5]

beerId
33      1.000000
1009    0.973926
30      0.973637
1056    0.968838
131     0.966742
Name: 33, dtype: float64

In [22]:
item_based_col[56973].sort_values(ascending=False)[:5]

beerId
56973    1.000000
27804    0.971657
11922    0.969235
17060    0.967055
4083     0.966691
Name: 56973, dtype: float64

In [65]:
# ratings_arr.dot(item_sim_arr)는 평점 * 맥주 유사도
# ratings_arr는 사용자 u의 아이템 i와 가장 유사도가 높은 top n개 아이템에 대한 실제 평점 벡터
# item_sim_arr는 아이템 i와 가장 유사도가 높은 top n개 아이템의 유사도 벡터
def predict_rating(ratings_arr, item_sim_arr):
    ratings_pred = ratings_arr.dot(item_sim_arr) / np.array([np.abs(item_sim_arr).sum(axis=1)])
    return ratings_pred

ratings_matrix = beer_user_rating.transpose()
ratings_matrix

beerId,6,7,10,17,19,30,31,33,34,36,...,56761,56973,57252,57908,57912,59151,59369,60420,62645,72138
userIdx,,,,,,,,,,,,,,,,,,,,,
934,3.0,3.5,4.5,4.0,4.0,4.0,4.5,4.5,4.0,4.0,...,4.5,4.0,0.0,4.0,0.0,4.5,4.0,4.0,4.5,4.0
1751,3.0,0.0,3.5,3.0,4.5,4.5,3.0,4.5,4.5,5.0,...,0.0,4.5,0.0,4.5,4.5,0.0,0.0,0.0,0.0,0.0
1786,3.5,4.0,4.0,4.0,3.5,3.5,4.5,3.5,4.0,0.0,...,4.5,4.5,3.5,4.0,4.5,4.0,4.5,4.0,4.5,4.5
2351,3.0,3.5,4.5,3.5,4.5,4.0,3.5,4.5,4.0,4.5,...,0.0,4.0,4.0,0.0,0.0,0.0,4.0,4.0,4.5,0.0
2757,4.0,3.0,3.5,3.5,3.5,4.0,3.5,3.5,3.5,4.0,...,4.0,4.0,4.5,3.5,4.0,0.0,3.5,4.5,3.0,0.0
3965,0.0,0.0,4.0,0.0,3.5,4.5,4.0,4.0,4.0,4.0,...,4.0,4.5,4.0,0.0,0.0,0.0,3.5,3.5,4.0,4.0
4990,2.5,0.0,0.0,0.0,0.0,4.0,3.5,4.5,4.5,0.0,...,4.5,4.5,4.5,4.5,0.0,4.0,3.0,4.5,4.0,4.0
5348,3.5,0.0,3.0,3.5,4.0,4.0,4.0,4.0,4.5,4.0,...,4.5,3.5,3.5,0.0,4.5,0.0,4.0,3.5,3.5,0.0
5382,3.5,3.5,4.5,4.0,4.0,4.5,4.0,4.5,4.0,4.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5455,4.0,4.0,3.5,4.0,0.0,4.0,4.0,4.0,3.5,4.5,...,4.5,4.0,3.5,0.0,3.5,3.0,3.0,3.5,5.0,4.0
6507,4.0,4.0,4.0,3.5,3.0,4.5,4.5,4.0,5.0,4.5,...,0.0,4.5,0.0,0.0,0.0,0.0,4.0,4.5,0.0,3.5
7272,2.5,3.5,3.5,3.5,4.0,4.0,3.5,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,0.0,4.0,4.0,3.5,4.0,4.0
8103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,...,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,3.5,3.0
8555,0.0,0.0,3.5,0.0,0.0,4.0,4.0,4.0,4.5,4.0,...,4.0,4.0,3.5,4.0,4.0,4.0,3.0,4.0,4.0,0.0
8949,4.0,3.0,4.5,4.0,4.0,4.5,4.5,4.5,4.5,0.0,...,0.0,5.0,4.5,0.0,5.0,4.5,4.0,0.0,4.5,4.5
9697,3.0,0.0,4.5,0.0,0.0,4.0,3.5,4.5,4.5,4.0,...,3.5,4.0,3.5,0.0,0.0,0.0,4.0,0.0,0.0,4.0
11876,3.5,0.0,4.0,0.0,0.0,4.0,4.0,4.5,4.5,0.0,...,4.0,0.0,4.0,3.5,4.0,4.5,4.0,4.5,3.5,4.0
12225,4.0,2.5,3.5,4.0,0.0,4.0,4.5,4.0,4.0,0.0,...,0.0,3.5,4.0,5.0,4.0,0.0,4.5,3.5,4.0,5.0
12378,2.5,0.0,0.0,3.5,0.0,4.0,4.0,4.0,5.0,4.0,...,3.5,3.5,0.0,4.0,4.5,4.5,3.5,4.0,3.5,3.5
12904,0.0,0.0,4.0,3.5,0.0,4.5,4.0,4.5,4.5,4.0,...,0.0,4.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
13002,3.5,3.5,3.5,1.5,4.0,4.0,4.5,4.0,4.5,4.5,...,4.0,4.5,4.0,3.0,4.0,4.5,2.0,4.5,4.5,3.5
13045,0.0,0.0,4.0,0.0,0.0,4.5,4.0,4.5,4.5,4.0,...,4.5,4.5,4.0,4.0,0.0,4.5,4.0,4.0,0.0,0.0
13100,4.0,3.5,4.0,3.0,4.5,4.5,4.0,4.5,4.0,4.0,...,4.0,3.5,4.5,4.0,4.0,4.5,4.0,4.5,4.0,4.0
13448,4.0,3.5,3.5,3.5,4.5,5.0,4.0,4.5,4.5,3.0,...,4.0,4.0,4.0,0.0,4.5,4.0,4.0,4.5,4.0,0.0
13795,4.5,0.0,4.0,3.5,0.0,4.5,4.5,4.5,5.0,0.0,...,4.0,4.5,3.5,0.0,0.0,0.0,3.5,0.0,4.0,4.0
16032,4.0,3.5,4.0,3.5,4.5,4.5,3.5,4.5,4.5,5.0,...,4.5,4.0,4.0,0.0,4.0,4.5,0.0,0.0,4.5,0.0
18893,4.5,4.0,0.0,0.0,0.0,4.5,4.0,4.0,4.5,4.5,...,3.5,3.0,4.0,3.5,4.5,4.0,4.5,4.0,4.0,4.0
19515,0.0,0.0,3.0,0.0,4.5,0.0,0.0,0.0,0.0,3.5,...,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0
19869,3.5,3.5,4.0,3.5,4.0,4.5,4.5,4.0,4.0,4.0,...,4.0,5.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0
20539,4.0,2.5,4.0,0.0,4.0,4.0,4.0,0.0,4.5,4.5,...,4.5,4.5,0.0,4.5,4.5,4.0,4.5,4.0,4.0,0.0
22344,3.5,3.5,4.0,2.0,4.5,4.0,0.0,3.5,4.5,5.0,...,4.0,0.0,3.5,4.0,0.0,4.0,3.5,0.0,0.0,0.0
23462,4.0,3.0,4.0,3.0,0.0,4.5,4.0,4.5,4.5,4.5,...,3.5,4.5,4.5,0.0,0.0,0.0,0.0,0.0,0.0,4.5
25703,4.5,2.0,4.0,4.5,3.5,4.0,4.0,4.0,5.0,0.0,...,4.5,4.0,4.5,4.5,4.5,4.5,4.0,3.5,4.5,4.5
26927,4.0,0.0,4.5,3.0,4.5,4.5,4.0,3.5,4.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0,4.0
27053,3.5,3.0,4.0,0.0,4.0,4.0,4.5,4.0,3.5,4.0,...,4.0,4.0,4.0,3.5,3.5,4.0,4.0,4.5,4.0,4.5
28028,4.0,3.0,4.0,0.0,0.0,4.5,4.5,4.5,4.0,0.0,...,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0
28608,3.0,0.0,3.5,0.0,0.0,4.0,3.5,4.0,4.5,4.5,...,5.0,4.0,4.0,0.0,0.0,4.0,4.5,4.0,3.5,4.0
29039,4.0,3.5,3.5,0.0,3.5,4.0,3.5,4.0,3.0,4.0,...,4.5,4.0,4.0,5.0,4.5,4.0,0.0,4.5,0.0,4.5
30131,3.5,0.0,4.0,4.0,0.0,4.0,0.0,4.5,4.0,4.5,...,4.5,4.0,4.5,4.0,4.0,0.0,4.0,4.0,4.5,3.5
31193,3.0,2.5,4.5,0.0,4.0,4.0,4.5,4.5,4.0,4.5,...,4.5,4.0,4.5,4.5,4.5,0.0,0.0,4.5,4.5,0.0
32625,4.0,3.5,4.0,3.0,4.0,3.5,0.0,4.5,4.0,3.5,...,3.5,4.0,0.0,4.0,0.0,4.0,0.0,3.5,4.0,0.0
32864,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,4.5,4.5,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32912,0.0,0.0,2.5,0.0,0.0,0.0,3.0,0.0,4.0,3.5,...,4.0,4.0,2.0,0.0,4.0,3.0,3.5,2.5,4.0,3.5
33297,3.0,2.0,0.0,4.0,4.0,4.5,4.0,4.0,5.0,4.0,...,4.0,3.5,4.0,4.5,0.0,4.0,3.5,4.5,0.0,4.5

In [143]:
# 개인화된 예측 평점 구하기
# 평점 value와 유사도 value만 뽑아서 대입
ratings_pred = predict_rating(ratings_matrix.values, item_based_col.values)
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index = ratings_matrix.index,
                                   columns = ratings_matrix.columns)
ratings_pred_matrix.index
# ratings_pred

Int64Index([  934,  1751,  1786,  2351,  2757,  3965,  4990,  5348,  5382,
             5455,  6507,  7272,  8103,  8555,  8949,  9697, 11876, 12225,
            12378, 12904, 13002, 13045, 13100, 13448, 13795, 16032, 18893,
            19515, 19869, 20539, 22344, 23462, 25703, 26927, 27053, 28028,
            28608, 29039, 30131, 31193, 32625, 32864, 32912, 33297],
           dtype='int64', name='userIdx')

In [170]:
ratings_pred2 = ratings_pred.reshape(-1,1)
print(ratings_pred2)
df_ratings_500.sort_values("userIdx")

[[3.80014333]
 [3.80186059]
 [3.80933858]
 ...
 [3.58494398]
 [3.55166678]
 [3.57884532]]

,userNm,beerId,rating,reviewIdx,review_num,userIdx,br_review_num
1352181,BEERchitect,50697,4.5,579508,2669,934,681
1191389,BEERchitect,674,4.5,992433,2669,934,1019
646821,BEERchitect,1493,4.0,122593,2669,934,646
648354,BEERchitect,34,4.0,372484,2669,934,2480
1190553,BEERchitect,356,4.5,494465,2669,934,815
...,...,...,...,...,...,...,...
550625,zeff80,1314,4.0,334269,2412,33297,521
789580,zeff80,1934,4.0,846359,2412,33297,928
572295,zeff80,129,4.0,344119,2412,33297,1919
1166638,zeff80,1490,4.5,639375,2412,33297,794
1340423,zeff80,92,4.5,868460,2412,33297,2633

In [145]:
#데이터 프레임 만들기
a = [ratings_pred_matrix.index*i for i in np.ones(584) ]
a = np.array(a)
a = a.reshape(-1)
a.shape
a.sort()
a = a.astype(int)

In [146]:
#데이터 프레임 만들기
b = [ratings_pred_matrix.columns*i for i in np.ones(44) ]
b = np.array(b)
b = b.reshape(-1)
b.shape
b = b.astype(int)

In [167]:
# ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index = ratings_matrix.index,
#                                    columns = ratings_matrix.columns)
for_merge_df = pd.DataFrame(ratings_pred2, columns=['expect'])

#for_merge_df["review_index_"] = 
for_merge_df["user_idx"] = a

for_merge_df["beer_idx"] = b
for_merge_df

         expect  user_idx  beer_idx
0      3.800143       934         6
1      3.801861       934         7
2      3.809339       934        10
3      3.803379       934        17
4      3.808193       934        19
...         ...       ...       ...
25691  3.583944     33297     59151
25692  3.569746     33297     59369
25693  3.584944     33297     60420
25694  3.551667     33297     62645
25695  3.578845     33297     72138

[25696 rows x 3 columns]

In [172]:
#데이터 합치기
merge_df = pd.merge(for_merge_df, df_ratings_500, left_on=["user_idx","beer_idx"], right_on=["userIdx", "beerId"], how='left')
merge_df = merge_df.drop(["userIdx", "beerId"],axis=1)

merge_df

,expect,user_idx,beer_idx,userNm,rating,reviewIdx,review_num,br_review_num
0,3.800143,934,6,BEERchitect,3.0,391220.0,2669.0,871.0
1,3.801861,934,7,BEERchitect,3.5,392491.0,2669.0,655.0
2,3.809339,934,10,BEERchitect,4.5,1217116.0,2669.0,708.0
3,3.803379,934,17,BEERchitect,4.0,762806.0,2669.0,740.0
4,3.808193,934,19,BEERchitect,4.0,1251206.0,2669.0,590.0
...,...,...,...,...,...,...,...,...
25691,3.583944,33297,59151,zeff80,4.0,1164566.0,2412.0,605.0
25692,3.569746,33297,59369,zeff80,3.5,883635.0,2412.0,566.0
25693,3.584944,33297,60420,zeff80,4.5,87025.0,2412.0,864.0
25694,3.551667,33297,62645,NaN,NaN,NaN,NaN,NaN
25695,3.578845,33297,72138,zeff80,4.5,889782.0,2412.0,645.0

In [176]:
merge_df = merge_df.replace(np.nan, -1)

merge_df['reviewIdx'] = merge_df['reviewIdx'].astype(int)
merge_df['review_num'] = merge_df['review_num'].astype(int)
merge_df['br_review_num'] = merge_df['br_review_num'].astype(int)
merge_df

,expect,user_idx,beer_idx,userNm,rating,reviewIdx,review_num,br_review_num
0,3.800143,934,6,BEERchitect,3.0,391220,2669,871
1,3.801861,934,7,BEERchitect,3.5,392491,2669,655
2,3.809339,934,10,BEERchitect,4.5,1217116,2669,708
3,3.803379,934,17,BEERchitect,4.0,762806,2669,740
4,3.808193,934,19,BEERchitect,4.0,1251206,2669,590
...,...,...,...,...,...,...,...,...
25691,3.583944,33297,59151,zeff80,4.0,1164566,2412,605
25692,3.569746,33297,59369,zeff80,3.5,883635,2412,566
25693,3.584944,33297,60420,zeff80,4.5,87025,2412,864
25694,3.551667,33297,62645,NaN,-1.0,-1,-1,-1
25695,3.578845,33297,72138,zeff80,4.5,889782,2412,645

In [152]:
# 우리가 예측한 평점과 실제 평점간의 차이를 mse로 계산
# 평점이 있는 실제 영화만 추출
def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

print(get_mse(ratings_pred, ratings_matrix.values))

1.164880564301752

In [26]:
# mse값을 더 낮추려면 특정 맥주와 가장 비슷한 n개의 맥주들만 유사도 계산에 사용해야 한다.
# 위의 방식은 모든 맥주들의 유사도 벡터를 사용했기 때문에 mse값이 높다.
# 3개의 col까지, 2개의 맥주에 대해 유사도가 큰 5개 선택

top_n_items = [np.argsort(item_based_col.values[:,3])[:-5:-1]]
top_n_items

[array([  3, 278, 472, 184])]

In [27]:
# 따라서 가장 비슷한 유사도를 가지는 맥주만 유사도 벡터로 사용
# 특정 맥주와 비슷한 유사도를 가지는 맥주 top n에 대해서만 적용 -> 오래걸림

def predict_rating_topsim(ratings_arr, item_sim_arr, n):
    # 사용자-아이템 평점 행렬 크기만큼 0으로 채운 예측 행렬 초기화
    pred = np.zeros(ratings_arr.shape)
    
    # 사용자-아이템 평점 행렬의 맥주 개수만큼 루프
    for col in range(ratings_arr.shape[1]):
        # 유사도 행렬에서 유사도가 큰 순으로 n개의 데이터 행렬의 인덱스 반환
        top_n_items = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
        # 개인화된 예측 평점 계산 : 각 col 맥주별(1개), 3083 사용자들의 예측평점
        for row in range(ratings_arr.shape[0]):
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(
                ratings_arr[row, :][top_n_items].T)
            pred[row, col] /= np.sum(item_sim_arr[col, :][top_n_items])
    return pred

ratings_pred = predict_rating_topsim(ratings_matrix.values, item_based_col.values, n = 10)
print(get_mse(ratings_pred, ratings_matrix.values))

0.2748027143138868

In [28]:
ratings_pred_matrix = pd.DataFrame(data = ratings_pred, index=ratings_matrix.index,
                                  columns = ratings_matrix.columns)
ratings_pred_matrix

beerId,6,7,10,17,19,30,31,33,34,36,...,56761,56973,57252,57908,57912,59151,59369,60420,62645,72138
userIdx,,,,,,,,,,,,,,,,,,,,,
934,4.041727,3.646622,4.252003,3.946778,3.951013,4.399399,4.300221,4.200763,4.449369,4.395231,...,4.154235,4.299401,3.596766,4.193512,2.827031,4.059571,4.099904,3.947159,4.205615,3.850239
1751,3.841707,3.231140,4.141928,3.877648,4.160296,4.500429,4.192761,4.650007,4.450366,4.556429,...,2.924943,4.002325,2.896297,4.447021,4.403113,2.447618,2.803363,2.279056,2.067219,1.945099
1786,3.945280,3.997550,4.448261,3.998126,4.136071,4.098700,4.052483,3.997564,4.150337,3.302349,...,3.809942,4.350625,3.503578,4.198353,4.060198,3.662095,4.253771,3.999195,4.401777,3.863104
2351,4.241295,3.745148,4.303358,3.888953,4.352230,4.598881,4.245880,4.399596,4.449673,4.493198,...,3.466632,4.349179,4.044812,2.711215,3.167337,2.684478,3.950254,3.947622,4.400454,3.076525
2757,3.948973,3.489695,3.199973,3.643525,3.745673,3.950710,3.649623,3.997614,4.198542,3.951802,...,3.652238,3.850580,3.857743,3.554912,3.660125,3.037082,3.498070,3.814075,3.687491,2.396310
3965,3.276405,1.900650,4.148727,2.037998,3.553508,4.300463,4.248299,4.299772,4.199864,4.246252,...,4.099293,4.350441,3.593159,1.851828,2.243627,2.693925,3.842657,3.794964,4.099270,3.753478
4990,3.689968,2.002727,3.072989,2.633431,2.840069,4.449334,4.097614,4.051874,4.201710,3.200768,...,4.202600,4.449716,4.343589,4.056433,3.023264,3.806052,3.639779,4.310673,3.852106,3.900759
5348,3.847928,2.746877,3.894826,3.535225,3.707727,4.101128,3.999425,4.248118,4.201055,3.999698,...,3.755722,3.948287,3.644807,1.065029,3.769804,2.685142,3.851715,3.310302,4.089009,1.895635
5382,4.144913,3.842929,4.450226,3.852047,4.000000,4.500761,4.298150,4.450224,4.449081,4.150040,...,1.235223,4.299479,1.909766,0.393314,2.195174,1.131609,2.608035,1.840900,0.783309,1.462553
5455,3.902241,4.145887,3.551802,4.242359,3.032839,4.100143,4.199851,3.799269,3.850855,4.254037,...,4.155187,3.751514,3.947182,2.367735,3.986622,3.931666,3.640928,3.743209,3.327551,2.971436
6507,3.705251,4.098421,3.750437,3.988088,3.008159,4.100149,3.953128,3.899975,4.101463,4.301078,...,0.644661,4.499167,1.327721,0.684817,1.169508,0.694067,3.657206,3.118975,0.684639,3.454031
7272,3.242031,3.012358,3.748952,3.698198,3.367512,3.901248,3.798749,3.849823,4.199554,4.044930,...,4.098164,3.900531,3.754570,3.616954,2.729542,3.997673,3.803443,3.740870,4.245508,3.654732
8103,0.394566,0.000000,0.396377,0.000000,0.392180,0.748394,0.748376,0.395917,2.649039,1.632432,...,0.992356,3.100237,0.350598,0.386282,0.000000,0.779666,0.394969,0.000000,2.954063,1.675860
8555,1.977194,1.066784,4.095186,1.158372,0.785966,4.049809,4.049529,4.099650,4.101035,4.197925,...,4.050172,3.648022,3.942359,3.665271,3.563015,4.000000,3.541525,3.563926,4.147867,2.289551
8949,4.397149,4.176046,4.549229,4.341307,4.440784,4.550206,4.599496,4.549876,4.500606,2.813952,...,1.383369,4.205333,3.907107,2.474736,3.440537,3.421198,3.358574,2.090832,4.400996,4.108154
9697,3.595261,2.006525,3.854605,2.036651,2.593631,3.951012,3.798152,3.952617,3.902119,3.898380,...,3.452731,3.800557,3.450514,2.139641,2.434161,2.339596,3.358215,1.733502,2.505071,3.412177
11876,3.194135,1.761402,3.999991,1.086121,0.000000,3.701806,3.700447,4.150957,3.701691,0.389972,...,3.950757,0.846318,3.600997,3.556650,3.657408,3.962150,4.050286,3.953538,3.943572,2.968444
12225,4.446178,3.727197,4.194761,3.797469,2.742951,4.349645,4.349830,4.149566,4.000271,3.810550,...,3.514562,4.096923,4.094963,4.173174,4.048989,2.932475,4.204180,3.994615,4.492587,4.070086
12378,3.839490,2.302632,3.624536,3.698822,1.713680,4.148603,4.149108,4.050203,4.102433,4.296294,...,3.894967,3.848340,2.558605,3.855108,3.770667,4.010018,3.991647,4.050079,4.041695,3.598412
12904,2.426938,0.922234,3.856004,2.952469,2.792922,4.500068,4.347440,4.350501,4.450469,4.097498,...,2.329958,4.299259,1.970446,3.708907,1.756088,1.994196,1.527845,1.743444,3.496268,2.534945
13002,4.095751,3.892666,4.047275,3.261470,4.197065,4.199565,4.150689,4.148924,4.200559,4.446576,...,4.050502,4.201425,3.994097,3.604500,4.050154,3.421954,3.526541,4.066663,3.711647,3.889781
13045,3.819836,2.240207,4.348284,2.881160,3.428401,4.350979,4.298389,4.451026,4.599740,4.244352,...,4.499293,4.400054,4.193783,4.193074,3.218436,4.349571,4.147694,4.099075,3.938563,1.897130
13100,4.099514,3.990516,4.198293,3.882528,4.207774,4.201061,4.397941,4.301414,4.249319,3.708583,...,4.049130,4.147832,4.302336,4.193074,4.095674,4.103748,4.099929,4.059242,4.098656,3.851974
13448,4.347112,3.745701,4.095126,3.938856,4.010119,4.601541,4.149962,4.203087,4.499753,3.935657,...,4.198166,3.949519,4.145734,1.821662,4.256944,3.853282,3.657717,4.151649,3.803223,1.556992
13795,3.903087,1.815798,3.850601,3.694915,1.563022,4.400615,3.902625,3.804219,4.251605,2.060808,...,4.148446,3.951404,3.553169,2.178301,1.608732,2.879184,3.252497,2.690770,4.294034,4.148066
16032,3.999919,3.792443,4.198885,3.890361,3.962590,4.400214,3.747254,4.252280,4.450200,4.257807,...,4.350915,4.299042,4.145826,2.360508,3.465077,4.156284,2.311084,2.683450,4.400098,1.958607
18893,4.102012,3.356135,3.478321,2.474015,1.186637,4.202022,4.199273,4.149767,4.250885,4.451065,...,3.098284,3.995319,3.850695,3.947904,3.772217,3.755364,4.009095,3.996490,4.145988,3.949820
19515,0.297664,0.351049,2.850013,1.129866,3.574687,0.798437,1.140095,0.745701,0.747532,2.801297,...,3.549035,0.399483,1.979777,1.019128,0.781841,3.900245,0.683628,1.572967,2.367685,2.434613
19869,4.194100,3.842320,4.100031,3.838018,4.295374,4.250308,4.300572,4.148734,4.249479,4.240663,...,3.803518,4.451746,2.605633,2.562813,4.145017,3.949721,2.951617,2.694767,2.848856,2.384021
20539,4.296984,2.515614,4.397221,2.432292,4.195320,3.901805,4.347444,3.483889,4.350813,4.397811,...,4.350596,4.400815,2.905961,4.247820,4.061372,4.194465,4.302692,4.146419,4.492427,2.583179
22344,3.997440,3.648386,4.149424,3.420943,3.320378,4.251011,1.640150,3.695556,4.351034,4.205945,...,3.756620,2.488776,3.452632,3.613167,2.629137,4.290559,2.858327,2.325159,1.824689,1.412172
23462,4.247320,3.833079,4.050152,3.683627,3.424591,4.250186,4.050699,4.350169,4.100993,4.249275,...,3.697397,4.200918,4.003771,3.178108,3.167475,2.794784,2.554957,2.902987,2.848726,3.716643
25703,3.906875,3.668334,4.198548,4.150251,3.405490,4.448108,3.898391,4.149248,4.450655,3.396444,...,4.349314,4.497501,4.206748,4.113283,4.256376,4.007720,4.197565,3.993567,4.745151,3.863495
26927,3.998830,2.547357,3.954095,3.925762,3.816342,3.951124,3.851640,3.998742,4.149306,4.097645,...,4.048441,3.999412,3.749332,3.898271,3.512193,3.461101,3.902376,3.802011,4.261967,3.116208
27053,3.945995,3.396757,3.998869,3.278563,4.048907,4.099407,3.852806,4.049490,3.999172,3.999673,...,3.754799,3.949749,3.598642,3.747055,3.889347,3.557415,3.950469,4.206821,4.048493,3.281264
28028,4.297944,4.225863,3.856119,1.464168,2.004910,4.250756,4.154036,3.954616,3.803283,1.319306,...,3.905968,1.345674,1.701697,1.596419,1.120500,1.464236,0.833755,0.728052,3.821910,4.094515
28608,3.893890,2.259436,3.946849,2.789080,2.496453,4.249727,4.048054,3.950522,4.400559,4.301742,...,3.912990,4.150408,3.896920,2.710366,3.211833,3.850402,4.253663,3.999888,4.187441,3.259546
29039,4.446528,3.943997,4.194352,3.282443,4.037869,4.149621,4.246940,4.299610,4.246767,4.047172,...,4.401980,4.597595,4.394152,4.359331,4.499853,4.000374,3.397031,3.817305,2.848925,4.107713
30131,3.896995,2.119915,3.851741,3.752209,1.811797,4.098601,2.734030,4.002542,4.049160,3.715181,...,3.860289,4.199382,4.152330,3.859482,4.047895,2.640934,3.853337,3.852808,3.716626,3.595900
31193,4.141665,3.322735,4.100981,3.328093,3.319911,3.950179,4.053233,4.250228,4.149626,4.247094,...,3.663001,4.099890,4.250701,3.479441,4.012424,2.848114,3.739853,3.373605,4.304786,3.023181
32625,3.899753,2.664270,3.900236,3.231150,3.319588,3.254969,2.437144,4.100624,4.150289,3.635164,...,4.045954,3.552471,2.310490,3.511530,1.171952,3.311078,1.912620,2.626858,3.258886,2.199134
32864,0.791282,0.291029,0.000000,0.433954,0.636549,3.454068,0.748285,0.799133,3.554030,4.204604,...,0.393724,3.957191,0.387177,0.000000,0.731354,0.000000,0.442645,0.775385,0.000000,1.121520
32912,1.929355,1.360263,3.543676,1.231010,2.099944,1.648962,3.098810,1.845054,3.302770,3.505567,...,3.252541,3.502330,2.936997,2.075380,3.805656,3.109202,3.401027,3.486305,3.746967,2.562504
33297,4.189785,3.613368,3.075039,3.612948,4.001203,4.551313,4.297954,4.349050,4.750734,4.244485,...,4.001169,4.147546,3.998548,4.154231,2.830875,3.703135,3.698789,4.104962,2.017567,3.960402

In [37]:
username = 934

user_rating_id = ratings_matrix.loc[username, :]
# 유저가 먹었던 맥주들 출력
user_rating_id[user_rating_id > 0].sort_values(ascending=False)

beerId
1558     5.0
15881    5.0
40058    5.0
8951     5.0
6108     5.0
        ...
639      2.5
837      2.5
767      2.0
232      2.0
1524     2.0
Name: 934, Length: 545, dtype: float64

In [32]:
# 사용자가 안 먹어본 맥주를 추천
def get_not_tried_beer(ratings_matrix, userId):
    # userId로 입력받은 모든 맥주 정보를 추출해 Series로 반환
    # 반환된 user_rating은 맥주 이름을 인덱스로 가지는 series객체
    user_rating = ratings_matrix.loc[userId, :]
    
    # user_rating이 0보다 크면 먹어본 맥주
    # 대상 인덱스를 추출해 list 객체로 만든다
    tried = user_rating[user_rating>0].index.tolist()
    
    # 모든 맥주명을 list 객체로 만든다
    beer_list = ratings_matrix.columns.tolist()
    
    # list comprehension으로 tried에 해당하는 영화는 beer_list에서 제외
    not_tried = [beer for beer in beer_list if beer not in tried]
    
    return not_tried

# 예측 평점 Dataframe에서 사용자 id 인덱스와 not_tried로 들어온 맥주명 추출 후
# 예측 평점이 높은 순으로 정렬
def  recomm_beer_by_userid(pred_df, userId, not_tried, top_n):
    recomm_beer = pred_df.loc[userId, not_tried].sort_values(ascending=False)[:top_n]
    return recomm_beer

# 유저가 먹지 않은 맥주이름 추출
not_tried = get_not_tried_beer(ratings_matrix, username)
not_tried

[185,
 195,
 846,
 1008,
 1015,
 1017,
 1128,
 1579,
 1670,
 1912,
 2296,
 2533,
 2619,
 4108,
 4109,
 4394,
 5385,
 6073,
 9755,
 11819,
 18305,
 20168,
 26542,
 29209,
 30538,
 31613,
 34085,
 35732,
 38180,
 40443,
 40492,
 46070,
 46290,
 48050,
 48139,
 52128,
 56613,
 57252,
 57912]

In [197]:
# top_n과 비슷한 맥주만 추천에 사용
ratings_pred = predict_rating_topsim(ratings_matrix.values, item_based_col.values, n=5)

# 계산된 예측 평점 데이터는 dataframe으로 재생성
ratings_pred_matrix = pd.DataFrame(data = ratings_pred, index=ratings_matrix.index,
                                  columns = ratings_matrix.columns)

# 아이템 기반의 최근접 이웃 cf로 맥주 추천
recomm_beer = recomm_beer_by_userid(ratings_pred_matrix, username,
                                   not_tried, top_n=5)
recomm_beer_matrix = pd.DataFrame(data=recomm_beer.values,
                                 index = recomm_beer.index,
                                 columns=['예측평점'])
#beer name 추가
for_concat = df_reviews[['beer_beerid', 'beer_name']].drop_duplicates()
recomm_beer_matrix = pd.merge(recomm_beer_matrix, for_concat, left_on = 'beerId', right_on = 'beer_beerid', how = 'left')
recomm_beer_matrix

       예측평점  beer_beerid                  beer_name
0  3.469759        38180  Union Jack India Pale Ale
1  3.452780         4109    Troegenator Double Bock
2  3.446774        40443             Baltic Thunder
3  3.437491        48139   Mama's Little Yella Pils
4  3.436185         2296      Moose Drool Brown Ale